
<li class="nav-item dropdown show">
	<a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown"> <i class="fa-solid fa-user-shield text-primary"></i> Admin  </a>
	<ul class="dropdown-menu fade-up">
		<li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index"> <i class="bi bi-tags-fill text-primary"></i> Categories </a></li>
		<li><a class="dropdown-item" href="#"> <i class="bi bi-person-lines-fill text-primary"></i> Users to Categories </a></li>
		<div class="dropdown-divider"></div>
		<li><a class="dropdown-item" href="#"> <i class="fa-solid fa-photo-film-music text-primary"></i> Media Types </a></li>
	</ul>
</li>